@model IEnumerable<SeaFoodProject.DONDAT>

@{
    ViewBag.Title = "Quản lý đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            Mã đơn
        </th>
        <th>
            Khách hàng
        </th>
        <th>
            SĐT
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Sản phẩm
        </th>
        <th>
            Ngày lập
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Trạng thái
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MADON)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.KHACHHANG.HOTEN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.KHACHHANG.SDT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.KHACHHANG.DIACHI)
    </td>
    <td>
        @foreach (var product in item.CHITIETDONDATs)
        {
            @Html.DisplayFor(modelItem => product.HAISAN.CHITIETLOAI) <span>( @product.HAISAN.LOAIHAISAN.TENLOAI - </span>

            @Html.DisplayFor(modelItem => product.SOLUONG) <span>@product.HAISAN.DONVITINH.TENDVT</span> <span>)</span>
            <br />
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.THOIGIAN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TONGTIEN) đ
    </td>
    <td>
        @*toán tử ba ngôi*@
        <select @(item.MATT == "MTT001" ? "disabled" : null) onchange="updateState(this.value, @item.MADON)">
            <option value="MTT001" id="MTT001" @(item.MATT == "MTT001" ? "selected" : null)>Giao thành công</option>
            <option value="MTT002" id="MTT002" @(item.MATT == "MTT002" ? "selected" : null)>Chờ xác nhận</option>
            <option value="MTT003" id="MTT003" @(item.MATT == "MTT003" ? "selected" : null)>Đang vận chuyển</option>
            <option value="MTT004" id="MTT004" @(item.MATT == "MTT004" ? "selected" : null)>Đã hủy</option>



        </select>
    </td>
</tr>
}

</table>


<script>
    function updateState(idState, idOrder) {
        $.ajax({
            type: 'POST',
            url: '/Admin/Manage/updateStateOrder',
            data: {
                id_state: idState,
                id_order: idOrder
            },
            success: function (data) {
                
            }
        });
    }
</script>